@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary: #12bdff;
    --primary-hover: #1993c3;
    --dark-primary: #1b1f24;
    --black-primary: #222830;
    --white: #FFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif !important;
}

/* header */

header{
    background-color: var(--dark-primary);
    padding: 20px;
    color: var(--white);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    font-weight: 800;
}

header a{
    text-decoration: none;
    color: var(--white);
}

header .logo span{
    color: var(--primary);
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    margin-right: 20px;
}

header ul li a{
    color: var(--white);
    font-weight: 500;
}

header ul li a:hover{
    color: var(--primary);
}


/* Section: Hero hompage */
.hero-section{
    background-color: var(--dark-primary);
    color: var(--white);
    display: flex;
    align-items: center;
    padding: 0 80px 0 180px;
}

.hero-title{
    font-size: 32px;
    font-weight: 800;
}

.hero-title span{
    color: var(--primary);
}

.hero-desc{
    color: #aaacac;
}

.social-icons{
    margin: 20px 0;
}

ul.social-icons{
    display: flex;
    list-style: none;
}

.social-icons li{
    margin-right: 15px;
}

.social-icons li a{
    color: var(--white);
    text-decoration: none;
}

.social-icons li a i.fa-facebook:hover{
    color: #316FF6;
}

.social-icons li a i.fa-linkedin:hover{
    color: #0A66C2;
}

.social-icons li a i.fa-instagram:hover{
    color: #cd486b;
}

.social-icons li a i.fa-x-twitter:hover{
    color: #1DA1F2;
}

.hero-btn button{
    margin-right: 10px;
}

.btn{
    padding: 10px 20px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif !important;
}

.btn.btn-primary{
    background-color: var(--primary);
    color: var(--dark-primary);
    border: 2px solid var(--primary);
}

.btn.btn-primary:hover{
    background-color: transparent;
    box-shadow: 0 0 20px var(--primary-hover);
    color: var(--white);

}

.btn-outline{
    background-color: var(--dark-primary);
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 5px;
}

.btn-outline:hover{
    background-color: var(--primary);
    color: var(--white);
    box-shadow: 0 0 20px var(--primary);
}

/* second Main */

.about-section{
    background-color: var(--black-primary);
    color: var(--white);
    padding: 60px 80px 60px 180px;
    display: flex;
    align-items: center;
}

.about-section span{
    color: var(--primary);
}

.about-section img {
    width: 300px;
    height: 300px;
    border: 3px solid var(--primary);
    box-shadow: 0 0 25px var(--primary-hover);
    border-radius: 50%;
}

.about-desc {
    margin-left: 100px;
    max-width: 450px;
}

.about-desc h4{
    font-size: 36px;
}

.about-desc ul{
    list-style: none;
    margin: 10px 0;
}

.about-desc li {
    margin-bottom: 15px;
    color: #a7a8a8;
}

.about-desc li a{
    color: #a7a8a8;
    text-decoration: none;
}

.about-desc li a:hover{
    color: var(--primary-hover);
    text-decoration: underline;
}

.about-desc li strong{
    font-weight: 600;
    color: var(--white);
}

.about-desc .btn{
    margin-top: 20px;
}

/* work section */
.work-section{
    background-color: var(--dark-primary);
    color: var(--white);
    padding: 40px;
    text-align: center;
}

.work-section h4 {
    margin: 30px 0;
    font-size: 28px;
}

.work-section h4 span{
    color: var(--primary);
}

.card{
    padding: 30px;
    display: flex;
    justify-content: center;
}

.design-work_sec {
    position: relative;
    width: 300px;
    height: 250px;
    perspective: 1000px;
    margin: 0 30px;
}

.card-inner{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.design-work:hover{
    background-color: #1a1a1a;
}

.design-work_sec:hover .card-inner{
    transform: rotateY(-180deg);
}

.design-work, .design-work-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    padding: 30px;
    background-color: var(--black-primary);
    text-align: start;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 2px var(--primary);
}

.design-work-back{
    transform: rotateY(180deg);
    background-color: #1a1a1a;
    box-shadow: 0 0 10px var(--primary);
}

.design-work p, .design-work-back p{
    padding-top: 10px;
    font-size: 14px;
    color: #a7a8a8;
}

.design-work_desc{
    margin-top: 20px;
    margin-bottom: 10px;
}

.work-icon {
    background-color: var(--primary);
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}

.design-work-back a{
    text-decoration: none;
    color: var(--white);
}

.design-work-back a i {
    color: var(--primary-hover);
}


/* Contact */
.contact-section{
    padding: 40px;
    text-align: center;
    color: var(--white);
    background-color: var(--black-primary);
}

.contact-section h4{
    margin: 30px 0;
    font-size: 28px;
}

.contact-section span{
    color: var(--primary);
}

.contact-section form input, textarea{
    padding: 8px 20px;
    margin-bottom: 10px;
    outline: none;
    width: 350px;
    border: none;
    border-radius: 8px;
    background-color: var(--dark-primary);
    box-shadow: 0 0 5px var(--primary-hover);
    color: var(--white);
    resize: none;
    font-family: "Poppins", sans-serif !important;
}

form input::placeholder,
form textarea::placeholder{
    color: var(--white);
}

/* ƒooter */

footer{
    background-color: var(--dark-primary);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

footer a{
    color: var(--primary-hover);
    text-decoration: none;
}


/* media query */
@media (max-width: 600px) {

    * {
        width: 100%;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    header ul{
        margin: 10px 0;
        flex-direction: column;
    }

    header * {
        margin-bottom: 5px;
    }

    /* hero section */
    .hero-section{
        flex-direction: column;
        padding: 40px 40px 0 40px;
    }

    .social-icons{
        width: 75%;
    }

    .hero-btn button {
        margin-bottom: 10px;
    }

    /* about section */
    .about-section {
        flex-direction: column;
        padding: 40px;
    }

    .about-desc {
        margin-left: 0;
        margin-top: 40px;
    }

    .about-desc h4 {
        font-size: 32px;
    }

    /* work section */
    .work-section {
        padding: 30px 10px;
    }

    .card {
        flex-direction: column;
        align-items: center;
    }

    .design-work_sec {
        margin: 20px;
        width: 100%;
    }

    .work-icon,i {
        border-radius: 50px;
        width: 23px;
        text-align: center;
    }

    /* contact */
    .contact-section form input , textarea{
        width: 100%;
    }

    footer{
        font-size: 12px;
    }
}
